{% extends 'catalog/base.html' %}
{% load static %}
{% block title %} znachodka {%endblock title %}
{% block content %}
<style>
    .hero.is-fullheight-with-navbar {
        background: url({% static "catalog/images/hero-1.jpg" %}) center / cover;
    }
</style>
<section class="hero is-fullheight-with-navbar pt-6">
    <div
        class="field is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-center mt-5"
    >
        <div class="control m-2">
            <a class="button is-primary" href="add_item">
                I've found something
            </a>
        </div>
        <div class="field has-addons m-2">
            <div class="control has-icons-left">
                <input
                    class="input"
                    type="text"
                    placeholder="Find a lost item"
                />
                <span class="icon is-left">
                    <i class="fas fa-search"></i>
                </span>
            </div>
            <div class="control">
                <a class="button is-primary"> Search </a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
