{% extends 'catalog/base.html' %}
{% load static %}
{% block content %}
<section class="hero is-light is-fullheight-with-navbar">
    <div class="container px-4 py-5">
        <nav class="breadcrumb is-small" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'all_items' %}">All items</a></li>                
                <li><a href="{% url 'by_type' item.type %}">{{ type|capfirst }}</a></li>
                <li><a href="{% url 'by_category' item.category_id %}">{{ category|capfirst }}</a></li>
                <li class="is-active"><a href="#" aria-current="page">{{ item.name|capfirst }}</a></li>
            </ul>
        </nav>
        <div class="card px-3">
            <div class="columns is-multiline">
                <div class="column is-one-third-desktop is-full-tablet">
                    <figure class="image">
                        {% if item.image %}
                        <img src="{{ item.image.url }}" alt="Item image not found"/>
                        {% include 'catalog/modal.html' %}
                        {% else %}
                        <img src="{% static 'images/items/default_item.png' %}" alt="Default image not found">                                
                        {% endif %}
                    </figure>
                </div>
                <div class="column">
                    <div class="tags are-normal is-flex-wrap-wrap is-justify-content-space-between">
                        <p>
                            <a href="{% url 'by_type' item.type %}" class="tag is-primary is-light">{{ item.get_type }}</a>
                            <a href="{% url 'by_category' item.category.id %}" class="tag is-primary is-light">{{ item.category }}</a>
                        </p>
                            <p class="tag {% if item.is_active %}is-success{% endif %} is-light">{{ item.get_status }}</p>                     
                    </div>
                    <div class="content is-small">
                        <a href="{% url 'item' item.id  %}"><h6 class="title is-6">Item: {{ item.name|capfirst }}</h6></a>
                        <p><b>City:</b> {{ item.city }}</p>
                        <p><b>Description:</b> {{ item.description }}</p>
                        <p><b>Date:</b> {{ item.create_date|date:"d-m-Y" }} {{ item.create_date|time:"H:i" }}</p>
                    </div>
                    {% include 'catalog/item_button.html' %}
                </div>
            </div>
        </div>        
    </div>
</section>
{% endblock content %}